
html{
  background:  #1B1B26;
}

.content-container{
  height:100vh;
  width:calc(100vw - 80px);
  box-sizing : content-box;
  background : #1B1B26;
  margin-left: 80px;
}

.posts{

}






.post-list{        
  width:90vw;
  margin-left:5%;
  height:auto;
  /* background : #1B1B26; */
  color:black;
}



.post{
  margin-top:50px;
  position  : relative;
  width: 300px;
  height:300px;
  border-radius: 5px;
  background : #414051;
  margin-left:calc(50%  - 150px);
  font-size:15px;
  vertical-align:center;
  color:#F9F9FA;

  transition: .25s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border: 5px #1EB8F1 solid; */
}




.post img{
  width:100%;
  height:  230px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post .title{
  text-align:center;
  width:100%;
  height:50px;
  font-size:inherit;
}
.post .content-preview{

}

.post:hover {
  cursor:pointer;
  /* text-decoration : underline; */
  /* font-size: 18px */
}
.title{
  text-align:center;
  padding:5px;
}

.content{
  padding:5px;
}

.preview{
  width: 70%;
  height:500px;
  margin-left : 15%;
  position: relative;
}
.preview .title{
  font-size: 30px;
}
.preview .content{
  font-size : 20px;
}
.author{
    height:15px;
    font-size:15px;
    /* text-decoration : underline; */
    text-align:center;
    width:100% ;
}
.author-view{
  background  :         #414050;
  height:300px;
  font-size:15px;
  /* text-decoration : underline; */
  text-align:center;
  width:80% ;
  margin-left:10%;
  padding:20px;
  margin-top:50px;
  border-radius: 10px;
}
.preview .author{
  height:25px;
  font-size:20px;
  text-decoration : underline;
  text-align:center;
  width:100%;

}

.comments-container{
  margin-top:50px;
  width: 60%;
  min-height: 300px;
  height: auto;
  border-radius: 5px;
  background:   #2D2D2D  ;
  margin-left: 20%;
  font-size:15px;
  vertical-align:center;
  transition: .25s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.comments-container .title{

  text-align:center;
  margin-top:5px;
  font-size: 30px;
}

.comment{
  width:95%;
  height:200px ;
  /* border :  5px solid black  ; */
  /* border-bottom: 10px solid black; */
  /* border-top: 10px solid black; */
  margin-bottom:25px;



  /* background  :                      ghostwhite ; */

  /* background : grey; */
  margin-left: 2.5%;
  border-radius: 5px;
}

.comment .user{
  text-align:center;
  font-size:20px ;
  color : white;
}

.comment .content{
  padding:20px;
}






.left-nav{
  width:80px;
  height:100vh;
  position:fixed;
  font-size:30px;
  background: #1B1B26;
  color:white;
  box-shadow: 5px 0 5px -5px black;
  text-decoration:none;
}

.container{
  display:grid;
  grid-template-columns: 80px auto;
}








.add-post{
  position: fixed;
  right: 25px;
  bottom : 25px; 
  width:80px;
  height:80px;
  border-radius: 50%;
  background : #f2f2f2;
  color:white;
  text-align:center;
  line-height: 2.5;
  color:black;
  font-size: 35px;

}
.add-post:hover{
  font-size: 50px;
  line-height:2 ;
  cursor : pointer;
}


.form-container{
  width:50%;
  margin-left:25% ;
  height:300px;
  background :  #414050;
  margin-top:50px;
  border-radius: 20px;
  padding: 20px;

}
.form-container  input {
  border:none;
  width:80%;
  background  :   white ; 
  border-radius : 10px;
  font-size: 30px;
  height: 35px;
  display:block;
  margin-left :    10%;

}


.form-container  textarea {
  border:none;
  height:100px;
  margin-top:5px;
  width : 80%;
  margin-left:               10%;
  background  :   white ; 
  border-radius : 5px;
  font-size: 30px;

}






















.add-comment{
  margin-top:50px;
  width: 60%;
  min-height: 300px;
  height: auto;
  border-radius: 5px;
  background:   #2D2D2D  ;
  margin-left: 20%;
  font-size:15px;
  vertical-align:center;
  transition: .25s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.map{
  width:50%;
  height:500px;
  margin-top:50px;
}